<% title("#{@current_idiom.keyword}_空气净化器") %>
<% head_keyword(@current_idiom.keyword) %>
<% head_desc("#{@current_idiom.keywod} 空气净化器，空气净化器又称空气清洁器、空气净化机、空气清洁机，是指能够吸附、分解或转化各种空气污染物（一般包括PM2.5、粉尘、花粉、异味、甲醛之类的装修污染、细菌、过敏原等），有效提高空气清洁度的产品，主要分为家用 、商用、工业、楼宇。当下PM2.5污染严重，家里或是办公环境添置一台合适的空气净化器，能够有效的净化空气，去除PM2.5，保证大家的健康。") %>
<div class="row">  
  <ol class="breadcrumb">
    <% @high_level_links.each_with_index do |hl,index| %>
      <% if index == @high_level_links.size - 1%>
        <li class="active"><%= hl[:text] %></li>
        <% next %>
      <% end %>
      <% p hl %>
      <li><%= link_to hl[:text], hl[:url]%></li>
    <% end %>
  </ol>
  <h1><%= "#{@current_idiom.keyword}_空气净化器" %></h1>
</div>
<% if @related_products.size > 0 || @related_products.size > 0 %>
<div id="product_items">
  <div class="row">
    <%= render @related_products %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="container_box">
      <h5>
        <a data-toggle="collapse" data-target="#amazon_product_inside_links" href="#related_links">
          相关链接 +
        </a>
      </h5>
      <div id="amazon_product_inside_links" class="collapse">
        <br/>
        <% if @same_level_links.size > 0 %>
        <p>
          <% @same_level_links.each do |sl|%>
            <%= link_to sl[:text], sl[:url]%>
          <% end %>
        <p>
        <% end %>
        <% if @low_level_links.size > 0 %>
        <p>
          <% @low_level_links.each do |sl|%>
            <%= link_to sl[:text], sl[:url]%>
          <% end %>
        <p>
        <% end %>
      </div>
    </div>
  </div>
</div>
