<% title(truncate(@product.title,length: 20, separator: ' ', omission: '_') + @product.asin) %>
<% head_keyword(@product.title.split(' ').join(',')) %>
<% head_desc(@product.title) %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product" class="container_box">
      <div id="product_info">
        <div class="product_container">
          <h3 class="product_name">
            <i class="fa fa-info-circle"></i>
            <%= @product.title %>
          </h3>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6">
              <div class="product_pictures" style="padding-top:40px">
                <%= image_tag @product.img_3, alt: "#{@product.title}-图片" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
              <div class="product_description">
                <ul class="list-unstyled">
                  <li class="border_bottom">
                    <label>价格</label>
                    <strong>¥ <%= @product.price %></strong>
                  </li>
                  <li class="border_bottom">
                    <label>创建时间</label>
                    <span><%= @product.created_at.strftime "%Y-%m-%d %H:%M:%S" %></span>
                  </li>
                  <li class="border_bottom">
                    <label>产品分类</label>
                    <span>
                    <% @links.each_with_index do |bl,index|%>
                      <%= link_to bl[:text], bl[:url]%> /
                    <%end%>
                    <%= @product.amazon_category_name %>
                    </span>
                  </li>
                  <li class="border_bottom">
                    <label>产品描述</label>
                  <% @product.features.split("###").each do |feature|%>
                    <span><%= feature %></span>
                    <br/>
                  <% end %>
                  </li>
                  <li>
                    <%= link_to_if @product.url.present?, raw("<i class='fa fa-shopping-cart'></i> 购买"), @product.url, class: "btn btn-primary", target: "_blank", rel: "nofollow" do %>
                      <%= link_to "暂不提供购买", "#", class: "btn btn-default disabled" %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <%= sanitize(CGI.unescapeHTML(@product.descriptions)) if @product.descriptions %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @related_products_1.size > 0 || @related_products_2.size > 0 %>
<div id="product_items">
  <div class="row">
    <hr>
    <%= render (@related_products_1 + @related_products_2) %>
  </div>
</div>
<% end %>
