<% index_head(@current_category) %>

<%= render "products_sort" %>

<div id="product_items">
<% if @related_products && @related_products.size > 0 %>
  <div class="row">
    <%= render @related_products %>
  </div>
<% end %>

  <div id="scroll_container" class="row">
    <%= render @products %>
  </div>
  <%= will_paginate @products %> 
</div>

<%= render "category_info" %>
