<!DOCTYPE html>
<html>
<head>
<title><%= yield :title %></title>
<meta name="keywords" content="<%= yield :head_keyword %>">
<meta name="description" content="<%= yield :head_desc %>">
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<meta name="renderer" content="webkit">
<%= csrf_meta_tags %>
<!-- google verify -->
<meta name="shenma-site-verification" content="b0f102caa74ff5ac0f13f7fed7a95103" />
<!-- baidu tongji -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3aa64cce09d76ddfabc4e6aba4bdd07c' type='text/javascript'%3E%3C/script%3E"));
</script>
</head>
<body>

<div class="container">
  <%= render "layouts/navbar/user_navbar" %>
  <%= yield %>
  <%= render "layouts/shared/go_top" %>
  <hr>
  <%= render "layouts/shared/application_footer" %>
</div>
</body>
</html>
